/* =============
    Base
============= */

ul{
    margin : 0;
    padding : 0;
    li{
        list-style: none;
    }
}

a{
    text-decoration: none;
}

// text options
.heroBigText{
    font-size: rem-calc(22);
    font-weight: 700;

    @include md{
        font-size: rem-calc(29);
    }

    @include lg{
        font-size: rem-calc(31);
    }
}

.liftingText{
    font-size: rem-calc(22);
    font-weight: 400;

    @include md{
        font-size: rem-calc(29);
    }

    @include lg{
        font-size: rem-calc(31);
    }
}

.headerText{
    font-size: rem-calc(24);
    font-weight: 400;

    @include lg{
        font-size: rem-calc(34);
    }
}

.basicText{
    font-size: rem-calc(14);
    font-weight: 400;

    @include lg{
        font-size: rem-calc(16);
    }
}

// Show me ROCK 
.content-space-top{
    margin-top : 16px;

    @include md{
        margin-top: 24px;
    }

    @include lg{
        margin-top: 30px;
    }
}

.show-large{
    display : none;
    @include lg{
        display : block;
    }
}

.show-extra-large{
    display : none;
    @include xxl{
        display : block;
    }
}

.large-images{
    width : 100%;
}
