/* =============
    Base
============= */

ul{
    margin : 0;
    padding : 0;
    li{
        list-style: none;
    }
}

.show-large{
    display : none;
    @include lg{
        display : block;
    }
}

.large-images{
    width : 100%;
}
