/* =============
    hero
============= */

#hero{

    img{
        font-size : 0;
        display : block;
    }

    #hero-bottom{

        @include md{
            display: grid;
            grid-template-columns: 40% auto;
        }

        @include lg{
            grid-template-columns: 50% auto;
        }

        .hero-bottom-content{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero-sub .";
            color : white;
            padding : 16px;

            >div{
                grid-area: hero-sub;
                display : flex;
                align-items : center;

                aside{
                    margin-left : auto;

                    a{
                        display : flex;
                        gap : 8px;
                    }
                }
            }
        }
    
        #section-1{
            background-color : var(--redDark);

            @include xxl{
                grid-template-columns: 20% auto 16px;
            }
        }
    
        #section-2{
            background-color : var(--redDarkViolet);
            @include xxl{
                grid-template-columns: 16px auto 20%;
            }
        }
    }
}

/* =============
    hero-2
============= */

#hero-2{

    background-image: url("../img/heroes/Weatherman_Magazine.svg");
    background-size: cover;
    height: 361px;

    @include md{
        height : 609px;
        //scale from left side at the bottom
        background-position: left bottom;
    }
    @include xl{
        height : 625px;
    }


    @include lg{
        display : grid;
        grid-template-columns : 16px auto 16px;
        grid-template-areas : ". gallery . ";
    }

    @include xxl{
        grid-template-columns: auto 1200px auto;
    }

    ul{
        @include md{
            display : grid;
            grid-template-columns : 50% auto;
        }

        @include lg{
            grid-area : gallery;
            grid-template-columns: 60% auto;
        }

        @include xxl{
            grid-template-columns: 60% auto;
            grid-template-areas:
            "g1 g2"
            "g1 g3";
        }

        #g1{
            @include xxl{
                grid-area : g1;
            }
        }

        #g2{
            @include xxl{
                grid-area : g2;
            }
        }

        #g3{
            @include xxl{
                grid-area : g3;
            }
        }
    }
}