/* =============
    hero
============= */

#hero{

    #hero-bottom{

        @include md{
            display: grid;
            grid-template-columns: 40% auto;
        }

        @include lg{
            grid-template-columns: 50% auto;
        }

        section{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero-sub .";
            background-color : peachpuff;

            >div{
                grid-area: hero-sub;
            }
        }
    
        #section-1{
            background-color : peachpuff;
            @include xxl{
                grid-template-columns: 20% auto 16px;
            }
        }
    
        #section-2{
            background-color : purple;
            @include xxl{
                grid-template-columns: 16px auto 20%;
            }
        }
    }
}

/* =============
    hero-2
============= */

#hero-2{
    @include lg{
        display : grid;
        grid-template-columns : 16px auto 16px;
        grid-template-areas : ". gallery . ";
    }

    @include xxl{
        grid-template-columns: auto 1200px auto;
    }

    ul{
        @include md{
            display : grid;
            grid-template-columns : 50% auto;
        }

        @include lg{
            grid-area : gallery;
            grid-template-columns: 60% auto;
        }

        @include xxl{
            grid-template-columns: 60% auto;
            grid-template-areas:
            "g1 g2"
            "g1 g3";
        }

        #g1{
            @include xxl{
                grid-area : g1;
            }
        }

        #g2{
            @include xxl{
                grid-area : g2;
            }
        }

        #g3{
            @include xxl{
                grid-area : g3;
            }
        }
    }
}