/* =============
    hero
============= */

#hero{

    display : grid;
    grid-template-columns : 21px auto 21px;
    grid-template-areas : ". area .";

    .Challenge{
        background-color: #480000;
        color: white;
        font-style : Epilogue;
    }

    .Location{
        background-color: #6D012F;
        color: white;
        font-style : Epilogue;
    }

    >div{
        grid-area : area;
    }
}




/* =============
    hero-2
============= */

#hero-2{
    
}