/* =============
    liftingLeft
============= */

#sub-hero{
    @include md{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas : ". liftleft .";

        @include xxl{
            grid-template-columns: auto 1200px auto;
        }
    }

    >div{
        display : grid;
        gap : 16px;

        @include md{
            grid-area: liftleft;
            grid-template-columns: 50% auto;
        }

        aside{
            display : grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas : ". sub-hero .";
            background-color: olive;

            >div{
                grid-area : sub-hero;
                display: grid;
                grid-template-columns: 70% auto;
            }
        }
    }
}
    // both divs are asides, and have no changes but their text and images, so no need to use id or classes

    //#lifting-left{}

    /* =============
        liftingRight
    ============= */

    //#lifting-right{}