/* =============
    liftingLeft
============= */

#sub-hero{
    @include md{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas : ". liftleft .";

        @include xxl{
            grid-template-columns: auto 1200px auto;
        }
    }

    >div{
        display : grid;
        gap : 16px;

        @include md{
            grid-area: liftleft;
            grid-template-columns: 50% auto;
        }

        #sub-hero-card{
            background-color: var(--greenDark);
            padding: 16px;
            color : white;
            display : flex;
            align-items : center;
            box-shadow: 0px 1px 1px rgba(42, 48, 54, 0.3);

            a{
                margin-top : 8px;
            }

            aside{
                margin-left: auto;

                #about-img-container{
                    border-radius : 100%;
                    //crop out image with radius
                    overflow: hidden;
                    border : 4px solid white;
                    #about-img{
                        background-image: url(../img/global/SubmitPaint.svg);
                        background-position : center;
                        background-size: cover;
                        //size of containter
                        width : 85px;
                        padding-bottom: 100%;
                        border-radius: 50%;
                    }
                }

                #about-img-container02{
                    border-radius : 100%;
                    //crop out image with radius
                    overflow: hidden;
                    border : 4px solid white;
                    #about-img02{
                        background-image: url(../img/global/AssistanceEye.svg);
                        background-position : center;
                        background-size: cover;
                        //size of containter
                        width : 85px;
                        padding-bottom: 100%;
                        border-radius: 50%;
                    }
                }
            }
            // display : grid;
            // grid-template-columns: 16px auto 16px;
            // grid-template-areas : ". sub-hero .";
            // background-color: olive;

            // >div{
            //     grid-area : sub-hero;
            //     display: grid;
            //     grid-template-columns: 70% auto;
            // }
        }
    }
}
    // both divs are asides, and have no changes but their text and images, so no need to use id or classes

    //#lifting-left{}

    /* =============
        liftingRight
    ============= */

    //#lifting-right{}