/* =============
    liftingLeft
============= */

#lifting-left{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas : ". liftleft .";

    >div{
        grid-area: liftleft;
        margin-top : 16px;
    }
}




/* =============
    liftingRight
============= */

#lifting-right{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas : ". liftright .";

    >div{
        grid-area : liftright;
        margin-top : 16px;
    }
}