/* =============
    new
============= */

//original attempt (without a list system)
/*#new{
    section{
        img{
            width : 100%;
        }
        .card-data{
            display : grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". card-data .";
            background-color : #DACDCD;
            >div{
                grid-area : card-data;
            }
        }
    }

    display : grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas : ". new . "; */

#new{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". new . ";

    @include xxl{
        grid-template-columns: auto 1440px auto;
    }

    >div{
        grid-area : new;

        ul{
            margin : 0;
            padding : 0;

            @include md {
                display : grid;
                //grid-template-columns: 50% auto;
                grid-template-columns: repeat(4, 1fr);
                gap : 16px;
                grid-template-areas: 
                "nt nt nt nt"
                "n1 n1 n2 n2"
                "n3 n3 n4 n4"
                ". n5 n5 .";
            }

            @include lg{
                grid-template-columns: repeat(6, 1fr);
                grid-template-areas: 
                "nt nt nt nt nt nt"
                "n1 n1 n2 n2 n3 n3"
                ". n4 n4 n5 n5 .";
            }

            h1{
                @include md{
                    grid-area : nt;
                }
            }

            li{
                list-style : none;
                background-color : var(--lightGray);
                padding-top: 16px;
                padding-bottom: 16px;
                width: 100%;
                background-color : #DACDCD;
            }

            #n1{
                grid-area : n1;
            }

            #n2{
                grid-area : n2;
            }

            #n3{
                grid-area : n3;
            }

            #n4{
                grid-area : n4;
            }

            #n5{
                grid-area : n5;
            }
        }
    }
}