/* =============
    new
============= */

#new{
    section{
        img{
            width : 100%;
        }
        .card-data{
            display : grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". card-data .";
            background-color : #DACDCD;
            >div{
                grid-area : card-data;
            }
        }
    }
}