/* =============
    search
============= */

#search{
    display : grid;
    grid-template-columns : 16px auto 16px;

    grid-template-areas : ". search .";

    font-family : Epilogue;
    font-size : 14px;

    >div{
        grid-area: search;
        margin-top : 16px;
    }

    .image{
        background-color : #480000;
    }
}