/* =============
    Footer
============= */
footer{

    /*.Follow-Us{
        button{
            //background-color : transparent;
        }
    }*/
    
    @include xxl{
        display : grid;
        grid-template-columns: auto 1440px auto;
        grid-template-areas: ". footer . ";
    }

    >div{
        font-family : Epilogue;
        background-color : #30443F;

        @include xxl{
            grid-area: footer;
        }
    }
}
