/* =============
    Header
============= */
header{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas : "logo header";

    font-family : Sora;
    font-size : 18px;
    color : white;
    background-color: #30443F;

    >div{
        grid-area: "header";
        grid-area: "logo";
        margin-left : 16px;
        margin-right : 16px;
        margin-top : 16px;
    }
}