/* =============
    Header
============= */
header{

    #HeaderContent{
        //background of the WHOLE section, not just the grid's area in the div
        background-color : #30443F;

        //call forth the grid system
        display : grid;

        //establish how the grid is laid out- hence its template
        grid-template-columns: 16px auto 16px;

        //establish the parameters of the area itself
        grid-template-areas: ". HC .";

        >div{
            // area in which HC partakes- hence within the 16 pixels
            grid-area : "HC"
        }
    }

    #LogoNav{
        div{
            display : grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". search .";
            >div{
                grid-area : search;
            }
        }
    }
}