/* =============
    Header
============= */
header{
    //background of the WHOLE section, not just the grid's area in the div
    background-color : #30443F;

    @include xxl {
        display : grid;
        grid-template-columns: auto 1440px auto;
        grid-template-areas: ". header .";
    }

    >div{
        color : white;
        padding : 50px 0;

        @include xxl {
            grid-area : header;
        }
    }

    /*#HeaderContent{

        //call forth the grid system
        display : grid;

        //establish how the grid is laid out- hence its template
        grid-template-columns: 16px auto 16px;

        //establish the parameters of the area itself
        grid-template-areas: ". HC .";

        >div{
            // area in which HC partakes- hence within the 16 pixels
            grid-area : "HC"
        }
    }*/

    #LogoNav{
        div{
            display : grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". search .";
            >div{
                grid-area : search;
            }
        }
        button{
            background-color : #480000;
        }
    }
}